<div class="form">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
        <h2>Zaloguj się</h2>
        <div>
            <label for="login">Login</label>
            <input type="text" id="login" formControlName="login" placeholder="Login">
            <div *ngIf="loginForm.controls.login.touched && loginForm.controls.login.hasError('required')">
                Pole jest wymagane
            </div>
        </div>
    
        <div>
            <label for="password">Hasło</label>
            <input type="password" id="password" formControlName="password" placeholder="Hasło">
            <div *ngIf="loginForm.controls.password.touched && loginForm.controls.password.hasError('required')">
                Pole jest wymagane
            </div>
        </div>
        
        <button type="submit" [disabled]="!loginForm.valid">Zaloguj</button>
        <p *ngIf="errorMsg!==''">{{errorMsg}}</p>
        <h5>Nie masz konta? <div class="register" (click)="goToRegister()">Zarejestruj się</div></h5>
    </form>
    
</div>